.root {
  &[data-resizing] {
    --app-shell-transition-duration: 0ms !important;
  }

  @mixin light {
    --_app-shell-border-color: var(--mantine-color-gray-3);
  }

  @mixin dark {
    --_app-shell-border-color: var(--mantine-color-dark-4);
  }
}

.navbar {
  position: fixed;
  top: var(--_navbar-top, var(--app-shell-header-offset, 0px));
  height: var(--_navbar-height, calc(100dvh - var(--app-shell-header-offset, 0px)));
  width: var(--app-shell-navbar-width);
  background-color: var(--mantine-color-body);
  border-right: var(--_navbar-border-right);
  border-left: var(--_navbar-border-left);
  transition-property: transform, top;
  transition-duration: var(--app-shell-transition-duration);
  transition-timing-function: var(--app-shell-transition-timing-function);
  transform: var(--app-shell-navbar-transform);
  z-index: var(--app-shell-navbar-z-index);

  &[data-with-border] {
    --_navbar-border-right: rem(1px) solid var(--_app-shell-border-color);

    @mixin rtl {
      --_navbar-border-right: none;
      --_navbar-border-left: rem(1px) solid var(--_app-shell-border-color);
    }
  }
}

.main {
  padding-left: var(
    --_main-padding-left,
    calc(var(--app-shell-navbar-offset, 0px) + var(--app-shell-padding))
  );
  padding-right: var(--_main-padding-right, var(--app-shell-padding));
  padding-top: calc(var(--app-shell-header-offset, 0px) + var(--app-shell-padding));
  min-height: 100dvh;
  transition: padding var(--app-shell-transition-duration)
    var(--app-shell-transition-timing-function);

  @mixin rtl {
    --_main-padding-left: var(--app-shell-padding);
    --_main-padding-right: calc(var(--app-shell-navbar-offset, 0px) + var(--app-shell-padding));
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--app-shell-header-height);
  background-color: var(--mantine-color-body);
  border-bottom: var(--_header-border-bottom);
  transform: var(--app-shell-header-transform);
  transition-property: transform;
  transition-duration: var(--app-shell-transition-duration);
  transition-timing-function: var(--app-shell-transition-timing-function);
  z-index: var(--app-shell-header-z-index);

  &[data-with-border] {
    --_header-border-bottom: rem(1px) solid var(--_app-shell-border-color);
  }
}
