.root {
  --pininput-size-xs: rem(30px);
  --pininput-size-sm: rem(36px);
  --pininput-size-md: rem(42px);
  --pininput-size-lg: rem(50px);
  --pininput-size-xl: rem(60px);
}

.pinInput {
  width: var(--pininput-size);
  height: var(--pininput-size);
  text-align: center;
  min-height: auto;
  padding: 0;
  line-height: var(--pininput-size);

  &:focus {
    background: transparent;
  }
}
