code.hljs {
  display: inline-block;
  padding: rem(2px) rem(4px);
  font-size: rem(13px);
  border-radius: var(--mantine-radius-xs);
  line-height: var(--mantine-line-height);
  font-family: var(--mantine-font-family-monospace);
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: var(--mantine-spacing-md);
  line-height: 1.7;
}

.hljs {
  @mixin dark {
    color: var(--mantine-color-dark-1);
    background: var(--mantine-color-dark-8);
  }

  @mixin light {
    color: var(--mantine-color-gray-7);
    background: var(--mantine-color-gray-0);
  }
}

.hljs-comment,
.hljs-quote {
  font-style: italic;

  @mixin dark {
    color: var(--mantine-color-dark-3);
  }

  @mixin light {
    color: var(--mantine-color-gray-6);
  }
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  @mixin dark {
    color: var(--mantine-color-violet-3);
  }

  @mixin light {
    color: var(--mantine-color-violet-8);
  }
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  @mixin dark {
    color: var(--mantine-color-yellow-4);
  }

  @mixin light {
    color: var(--mantine-color-red-9);
  }
}

.hljs-literal {
  @mixin dark {
    color: var(--mantine-color-blue-4);
  }

  @mixin light {
    color: var(--mantine-color-blue-6);
  }
}

.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  @mixin dark {
    color: var(--mantine-color-green-6);
  }

  @mixin light {
    color: var(--mantine-color-blue-9);
  }
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  @mixin dark {
    color: var(--mantine-color-blue-2);
  }

  @mixin light {
    color: var(--mantine-color-lime-9);
  }
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title,
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  @mixin dark {
    color: var(--mantine-color-orange-5);
  }

  @mixin light {
    color: var(--mantine-color-orange-9);
  }
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

.hljs-link {
  text-decoration: underline;
}
