.link {
  --offset: rem(6px);

  height: rem(48px);
  display: flex;
  align-items: center;
  padding-left: calc(var(--mantine-spacing-md) - var(--offset));
  padding-right: calc(var(--mantine-spacing-md) - var(--offset));
  margin-left: var(--offset);
  margin-right: var(--offset);
  border-radius: var(--mantine-radius-md);

  @mixin light {
    color: var(--mantine-color-black);
  }

  @mixin dark {
    color: var(--mantine-color-white);
  }

  &[data-active] {
    @mixin light {
      background-color: var(--mantine-color-blue-0);

      .icon {
        background-color: var(--mantine-color-blue-1);
      }
    }

    @mixin dark {
      background-color: rgba(24, 100, 171, 0.2);
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(4px);
  border-radius: var(--mantine-radius-md);

  @mixin light {
    background-color: var(--mantine-color-blue-0);
    color: var(--mantine-color-blue-6);
  }

  @mixin dark {
    background-color: rgba(24, 100, 171, 0.3);
    color: var(--mantine-color-blue-2);
  }
}

.label {
  font-size: var(--mantine-font-size-sm);
  margin-left: var(--mantine-spacing-xs);
  font-weight: 500;
}
