.root {
  --modal-size-xs: rem(320px);
  --modal-size-sm: rem(380px);
  --modal-size-md: rem(440px);
  --modal-size-lg: rem(620px);
  --modal-size-xl: rem(780px);
}

.content {
  background-color: red;
}

.inner {
  background-color: blue;
}
