.saturation {
  --saturation-height-xs: rem(100px);
  --saturation-height-sm: rem(110px);
  --saturation-height-md: rem(120px);
  --saturation-height-lg: rem(140px);
  --saturation-height-xl: rem(160px);

  --thumb-size-xs: rem(8px);
  --thumb-size-sm: rem(12px);
  --thumb-size-md: rem(16px);
  --thumb-size-lg: rem(20px);
  --thumb-size-xl: rem(22px);

  -webkit-tap-highlight-color: transparent;
  position: relative;
  height: var(--saturation-height);
  border-radius: var(--mantine-radius-sm);
  margin: calc(var(--thumb-size) / 2);

  &[data-focus-ring='auto'] {
    &:focus:focus-visible {
      & .thumb {
        --_outline: rem(2px) solid var(--mantine-color-blue-filled);
      }
    }
  }

  &[data-focus-ring='always'] {
    &:focus {
      & .thumb {
        --_outline: rem(2px) solid var(--mantine-color-blue-filled);
      }
    }
  }
}

.thumb {
  outline: var(--_outline);
}

.saturationOverlay {
  border-radius: var(--mantine-radius-sm);
  inset: calc(var(--thumb-size) * -1 / 2 - rem(1px));
}
