.root {
  color: var(--mantine-anchor-color);
  text-decoration: var(--anchor-text-decoration);

  --anchor-text-decoration: none;

  &[data-underline='hover'] {
    @mixin hover {
      --anchor-text-decoration: underline;
    }
  }

  &[data-underline='always'] {
    --anchor-text-decoration: underline;
  }
}
