.root {
  color: var(--mantine-anchor-color);
  text-decoration: var(--_text-decoration);

  --_text-decoration: none;

  &[data-underline='hover'] {
    @mixin hover {
      --_text-decoration: underline;
    }
  }

  &[data-underline='always'] {
    --_text-decoration: underline;
  }
}
