.root {
  background-color: var(--mark-bg);
  color: var(--mark-color);

  @mixin light {
    --mark-bg: var(--mark-bg-light);
    --mark-color: inherit;
  }

  @mixin dark {
    --mark-bg: var(--mark-bg-dark);
    --mark-color: var(--mantine-color-dark-9);
  }
}
