.root {
  background-color: var(--_mark-bg);
  color: var(--_mark-color);

  @mixin light {
    --_mark-bg: var(--mark-bg-light);
    --_mark-color: inherit;
  }

  @mixin dark {
    --_mark-bg: var(--mark-bg-dark);
    --_mark-color: var(--mantine-color-dark-9);
  }
}
