.code {
  display: inline-block;
  padding: rem(2px) rem(4px);
  font-size: rem(13px);
  border-radius: var(--mantine-radius-xs);
  line-height: var(--mantine-line-height);
  font-family: var(--mantine-font-family-monospace);
}

.pre {
  display: block;
  padding: var(--mantine-spacing-md);
  line-height: 1.7;
  margin: 0;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.copy {
  background-color: transparent;
  opacity: 0.8;
  margin: 0;
  margin-top: rem(7px);
  margin-right: rem(7px);

  @mixin hover {
    opacity: 1;
  }

  @media (max-width: 40em) {
    display: none;
  }
}

.file {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--mantine-font-size-xs);
  gap: rem(7px);
  padding: rem(7px) rem(12px);
  font-family: var(--mantine-font-family-monospace);
  font-weight: 700;
  line-height: 1;
  user-select: none;
  cursor: pointer;
  border: 1px solid var(--mantine-color-gray-2);
  border-top: 0;
  border-left: 0;
  color: var(--mantine-color-gray-8);
  opacity: 0.8;

  @mixin hover {
    opacity: 1;
  }

  &:last-of-type {
    border-bottom-right-radius: var(--mantine-radius-sm);
  }

  &[data-active] {
    opacity: 1;
    color: var(--mantine-color-black);
    background-color: var(--mantine-color-white);
  }
}

.files {
  display: flex;
}

.root {
  color: var(--_color);
  background: var(--_background);
  margin-top: 0;

  @mixin dark {
    --_color: var(--mantine-color-dark-1);
    --_background: var(--mantine-color-dark-8);
  }

  @mixin light {
    --_color: var(--mantine-color-gray-7);
    --_background: var(--mantine-color-gray-0);
  }

  @mixin light {
    --code-comment-color: var(--mantine-color-gray-6);
    --code-keyword-color: var(--mantine-color-violet-8);
    --code-tag-color: var(--mantine-color-red-9);
    --code-literal-color: var(--mantine-color-blue-6);
    --code-string-color: var(--mantine-color-blue-9);
    --code-variable-color: var(--mantine-color-lime-9);
    --code-class-color: var(--mantine-color-orange-9);
  }

  @mixin dark {
    --code-comment-color: var(--mantine-color-dark-3);
    --code-keyword-color: var(--mantine-color-violet-3);
    --code-tag-color: var(--mantine-color-yellow-4);
    --code-literal-color: var(--mantine-color-blue-4);
    --code-string-color: var(--mantine-color-green-6);
    --code-variable-color: var(--mantine-color-blue-2);
    --code-class-color: var(--mantine-color-orange-5);
  }

  :global(.hljs-comment),
  :global(.hljs-quote) {
    font-style: italic;
    color: var(--code-comment-color);
  }

  :global(.hljs-doctag),
  :global(.hljs-formula),
  :global(.hljs-keyword) {
    color: var(--code-keyword-color);
  }

  :global(.hljs-deletion),
  :global(.hljs-name),
  :global(.hljs-section),
  :global(.hljs-selector-tag),
  :global(.hljs-subst) {
    color: var(--code-tag-color);
  }

  :global(.hljs-literal) {
    color: var(--code-literal-color);
  }

  :global(.hljs-addition),
  :global(.hljs-attribute),
  :global(.hljs-meta .hljs-string),
  :global(.hljs-regexp),
  :global(.hljs-string) {
    color: var(--code-string-color);
  }

  :global(.hljs-attr),
  :global(.hljs-number),
  :global(.hljs-selector-attr),
  :global(.hljs-selector-class),
  :global(.hljs-selector-pseudo),
  :global(.hljs-template-variable),
  :global(.hljs-type),
  :global(.hljs-variable) {
    color: var(--code-variable-color);
  }

  :global(.hljs-bullet),
  :global(.hljs-link),
  :global(.hljs-meta),
  :global(.hljs-selector-id),
  :global(.hljs-symbol),
  :global(.hljs-title),
  :global(.hljs-built_in),
  :global(.hljs-class .hljs-title),
  :global(.hljs-title.class_) {
    color: var(--code-class-color);
  }

  :global(.hljs-emphasis) {
    font-style: italic;
  }

  :global(.hljs-strong) {
    font-weight: 700;
  }

  :global(.hljs-link) {
    text-decoration: underline;
  }
}
