.code {
  display: inline-block;
  padding: rem(2px) rem(4px);
  font-size: rem(13px);
  border-radius: var(--mantine-radius-xs);
  line-height: 1.7;
  font-family: var(--mantine-font-family-monospace);
}

.pre {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  margin: 0;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.controls {
  display: flex;
}

.control {
  background-color: transparent;
  opacity: 0.8;
  margin: 0;
  margin-top: rem(7px);
  margin-right: rem(7px);

  @mixin hover {
    opacity: 1;
  }

  @media (max-width: 40em) {
    display: none;
  }
}

.file {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--mantine-font-size-xs);
  gap: rem(7px);
  padding: rem(7px) rem(12px);
  font-family: var(--mantine-font-family-monospace);
  font-weight: 700;
  line-height: 1;
  user-select: none;
  cursor: var(--_file-cursor);
  border: rem(1px) solid var(--_file-bd);
  border-top: 0;
  border-left: 0;
  color: var(--_file-color);
  opacity: var(--_file-opacity);
  background-color: var(--_file-bg);

  @mixin hover {
    --_file-opacity: 1;
  }

  &:last-of-type {
    border-bottom-right-radius: var(--mantine-radius-sm);
  }

  &:only-child {
    --_file-cursor: default;
  }

  &[data-active] {
    --_file-opacity: 1;
    --_file-color: var(--_file-active-color) !important;
    --_file-bg: var(--_file-active-bg);
  }

  --_file-opacity: 0.8;
  --_file-cursor: pointer;

  @mixin light {
    --_file-color: var(--mantine-color-gray-8);
    --_file-bd: var(--mantine-color-gray-3);
    --_file-active-bg: var(--mantine-color-white);
    --_file-active-color: var(--mantine-color-black);
  }

  @mixin dark {
    --_file-color: var(--mantine-color-dark-0);
    --_file-bd: var(--mantine-color-dark-4);
    --_file-active-bg: var(--mantine-color-dark-6);
    --_file-active-color: var(--mantine-color-white);
  }
}

.files {
  display: flex;
}

.codeWrapper {
  max-height: var(--ch-max-collapsed-height);
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: linear-gradient(0deg, var(--_background) 16%, rgba(0, 0, 0, 0) 100%);
    border-radius: calc(var(--mantine-radius-md) - rem(1px));
  }

  &[data-expanded] {
    max-height: none;

    &::before {
      display: none;
    }
  }
}

.showCodeButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-anchor);
  width: 100%;
  text-align: center;
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);

  &[data-hidden] {
    display: none;
  }
}

.root {
  color: var(--_color);
  background: var(--_background);
  margin-top: 0;

  @mixin dark {
    --_color: var(--mantine-color-dark-1);
    --_background: var(--mantine-color-dark-8);
  }

  @mixin light {
    --_color: var(--mantine-color-gray-7);
    --_background: var(--mantine-color-gray-0);
  }

  @mixin light {
    --code-comment-color: var(--mantine-color-gray-6);
    --code-keyword-color: var(--mantine-color-violet-8);
    --code-tag-color: var(--mantine-color-red-9);
    --code-literal-color: var(--mantine-color-blue-6);
    --code-string-color: var(--mantine-color-blue-9);
    --code-variable-color: var(--mantine-color-lime-9);
    --code-class-color: var(--mantine-color-orange-9);
  }

  @mixin dark {
    --code-comment-color: var(--mantine-color-dark-3);
    --code-keyword-color: var(--mantine-color-violet-3);
    --code-tag-color: var(--mantine-color-yellow-4);
    --code-literal-color: var(--mantine-color-blue-4);
    --code-string-color: var(--mantine-color-green-6);
    --code-variable-color: var(--mantine-color-blue-2);
    --code-class-color: var(--mantine-color-orange-5);
  }

  :global(.hljs-comment),
  :global(.hljs-quote) {
    font-style: italic;
    color: var(--code-comment-color);
  }

  :global(.hljs-doctag),
  :global(.hljs-formula),
  :global(.hljs-keyword) {
    color: var(--code-keyword-color);
  }

  :global(.hljs-deletion),
  :global(.hljs-name),
  :global(.hljs-section),
  :global(.hljs-selector-tag),
  :global(.hljs-subst) {
    color: var(--code-tag-color);
  }

  :global(.hljs-literal) {
    color: var(--code-literal-color);
  }

  :global(.hljs-addition),
  :global(.hljs-attribute),
  :global(.hljs-meta .hljs-string),
  :global(.hljs-regexp),
  :global(.hljs-string) {
    color: var(--code-string-color);
  }

  :global(.hljs-attr),
  :global(.hljs-number),
  :global(.hljs-selector-attr),
  :global(.hljs-selector-class),
  :global(.hljs-selector-pseudo),
  :global(.hljs-template-variable),
  :global(.hljs-type),
  :global(.hljs-variable) {
    color: var(--code-variable-color);
  }

  :global(.hljs-bullet),
  :global(.hljs-link),
  :global(.hljs-meta),
  :global(.hljs-selector-id),
  :global(.hljs-symbol),
  :global(.hljs-title),
  :global(.hljs-built_in),
  :global(.hljs-class .hljs-title),
  :global(.hljs-title.class_) {
    color: var(--code-class-color);
  }

  :global(.hljs-emphasis) {
    font-style: italic;
  }

  :global(.hljs-strong) {
    font-weight: 700;
  }

  :global(.hljs-link) {
    text-decoration: underline;
  }
}
