.demo {
  padding: var(--_demo-spacing, 0rem);
  flex: 1;

  &[data-with-padding] {
    --_demo-spacing: var(--mantine-spacing-md);
  }

  &[data-dimmed] {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }

  &[data-centered] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.demoInner {
  max-width: var(--demo-max-width, 100%);
  min-height: var(--demo-min-height, unset);
  margin-left: var(--demo-margin-y, unset);
  margin-right: var(--demo-margin-y, unset);
}
