.root {
  --slider-size-xs: rem(4px);
  --slider-size-sm: rem(6px);
  --slider-size-md: rem(8px);
  --slider-size-lg: rem(10px);
  --slider-size-xl: rem(12px);

  -webkit-tap-highlight-color: transparent;
  outline: none;
  height: calc(var(--slider-size) * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: none;
  position: relative;
}
