.wrapper {
  position: relative;
  /* marginTop: offsetTop ? `calc(${theme.spacing.xs} / 2)` : undefined,
  marginBottom: offsetBottom ? `calc(${theme.spacing.xs} / 2)` : undefined, */

  --input-height-xs: rem(30px);
  --input-height-sm: rem(36px);
  --input-height-md: rem(42px);
  --input-height-lg: rem(50px);
  --input-height-xl: rem(60px);

  --input-padding-y-xs: rem(5px);
  --input-padding-y-sm: rem(6px);
  --input-padding-y-md: rem(8px);
  --input-padding-y-lg: rem(10px);
  --input-padding-y-xl: rem(13px);

  --input-cursor: text;
  --input-text-align: left;
  --input-line-height: calc(var(--input-height) - rem(2px));
  --input-padding: calc(var(--input-height) / 3);
  --input-padding-left: var(--input-padding);
  --input-padding-right: var(--input-padding);
  --input-section-color: inherit;
  --input-placeholder-color: var(--mantine-color-placeholder);
  --input-color: inherit;
  --input-left-section-size: var(--input-left-section-width, var(--input-height));
  --input-right-section-size: var(--input-right-section-width, var(--input-height));
  --input-size: var(--input-height);

  --section-y: rem(1px);
  --left-section-left: rem(1px);
  --left-section-right: unset;
  --left-section-border-radius: var(--input-radius) 0 0 var(--input-radius);

  --right-section-left: unset;
  --right-section-right: rem(1px);
  --right-section-border-radius: 0 var(--input-radius) var(--input-radius) 0;

  &[data-pointer] {
    --input-cursor: pointer;
  }

  &[data-multiline] {
    --input-size: auto;
    --input-line-height: var(--mantine-line-height);
  }

  &[data-variant='unstyled'] {
    --input-padding: 0;
    --input-padding-y: 0;
  }

  &[data-with-left-section] {
    --input-padding-left: var(--input-left-section-size);

    @mixin rtl {
      --input-padding-right: var(--input-left-section-size);
    }
  }

  &[data-with-right-section] {
    --input-padding-right: var(--input-right-section-size);

    @mixin rtl {
      --input-padding-left: var(--input-right-section-size);
    }
  }

  @mixin light {
    --input-disabled-bg: var(--mantine-color-gray-1);
    --input-disabled-color: var(--mantine-color-gray-6);

    &[data-variant='default'] {
      --input-bd: var(--mantine-color-gray-4);
      --input-bg: var(--mantine-color-white);
      --input-bd-focus: var(--mantine-color-primary);
    }

    &[data-variant='filled'] {
      --input-bd: transparent;
      --input-bg: var(--mantine-color-gray-1);
      --input-bd-focus: var(--mantine-color-primary);
    }

    &[data-variant='unstyled'] {
      --input-bd: transparent;
      --input-bg: transparent;
      --input-bd-focus: transparent;
    }
  }

  @mixin dark {
    --input-disabled-bg: var(--mantine-color-dark-6);
    --input-disabled-color: var(--mantine-color-dark-2);

    &[data-variant='default'] {
      --input-bd: var(--mantine-color-dark-4);
      --input-bg: var(--mantine-color-dark-6);
      --input-bd-focus: var(--mantine-color-primary);
    }

    &[data-variant='filled'] {
      --input-bd: transparent;
      --input-bg: var(--mantine-color-dark-5);
      --input-bd-focus: var(--mantine-color-primary);
    }

    &[data-variant='unstyled'] {
      --input-bd: transparent;
      --input-bg: transparent;
      --input-bd-focus: transparent;
    }
  }

  [data-mantine-color-scheme] &[data-error] {
    --input-bd: var(--mantine-color-error);
    --input-color: var(--mantine-color-error);
    --input-placeholder-color: var(--mantine-color-error);
    --input-section-color: var(--mantine-color-error);
  }

  @mixin rtl {
    --input-text-align: right;
    --left-section-left: unset;
    --left-section-right: rem(1px);
    --left-section-border-radius: 0 var(--input-radius) var(--input-radius) 0;
    --right-section-left: rem(1px);
    --right-section-right: unset;
    --right-section-border-radius: var(--input-radius) 0 0 var(--input-radius);
  }
}

.input {
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  resize: none;
  display: block;
  width: 100%;
  transition: border-color 100ms ease;

  text-align: var(--input-text-align);
  color: var(--input-color);
  border: rem(1px) solid var(--input-bd);
  background-color: var(--input-bg);
  font-family: var(--mantine-font-family);
  height: var(--input-size);
  min-height: var(--input-height);
  line-height: var(--input-line-height);
  font-size: var(--input-fz);
  border-radius: var(--input-radius);
  padding-left: var(--input-padding-left);
  padding-right: var(--input-padding-right);
  padding-top: var(--input-padding-y, 0rem);
  padding-bottom: var(--input-padding-y, 0rem);
  cursor: var(--input-cursor);

  &:focus,
  &:focus-within {
    outline: none;
    border-color: var(--input-bd-focus);
  }

  &::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button,
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    appearance: none;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }

  &:disabled,
  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: var(--input-disabled-bg);
    color: var(--input-disabled-color);
  }
}

.leftSection {
  pointer-events: none;
  position: absolute;
  color: var(--input-section-color);
  z-index: 1;
  left: var(--left-section-left);
  right: var(--left-section-right);
  bottom: var(--section-y);
  top: var(--section-y);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--input-left-section-size);
  border-radius: var(--left-section-border-radius);
}

.rightSection {
  position: absolute;
  color: var(--input-section-color);
  z-index: 1;
  left: var(--right-section-left);
  right: var(--right-section-right);
  bottom: var(--section-y);
  top: var(--section-y);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--input-right-section-size);
  border-radius: var(--right-section-border-radius);
}
