.root {
  &[data-truncate] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &[data-truncate='start'] {
    direction: rtl;
    text-align: right;

    [dir='rtl'] & {
      direction: ltr;
      text-align: left;
    }
  }

  &[data-variant='gradient'] {
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
