.root {
  overflow: hidden;
}

.viewport {
  width: 100%;
  height: 100%;
  padding-right: var(--viewport-padding-right);
  padding-left: var(--viewport-padding-left);
  padding-bottom: var(--scrollarea-scrollbar-size);

  --viewport-padding-right: var(--scrollarea-scrollbar-size);
  --viewport-padding-left: unset;

  @mixin rtl {
    --viewport-padding-right: unset;
    --viewport-padding-left: var(--scrollarea-scrollbar-size);
  }
}

.scrollbar {
  user-select: none;
  touch-action: none;
  box-sizing: border-box;
  transition: background-color 150ms ease, opacity 150ms ease;

  padding: calc(var(--scrollarea-scrollbar-size) / 5);
  display: var(--scrollbar-display);
  background-color: var(--scrollbar-bg);
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
  flex-direction: var(--scrollbar-direction, row);

  & > .thumb {
    background-color: var(--thumb-bg);
  }

  --scrollbar-display: flex;
  --scrollbar-bg: transparent;

  @mixin hover {
    @mixin light {
      --scrollbar-bg: var(--mantine-color-gray-0);
      --thumb-bg: rgba(0, 0, 0, 0.5);
    }

    @mixin dark {
      --scrollbar-bg: var(--mantine-color-dark-8);
      --thumb-bg: rgba(255, 255, 255, 0.5);
    }
  }

  &[data-hidden],
  &[data-state='hidden'] {
    --scrollbar-display: none;
  }

  &[data-orientation='vertical'] {
    --scrollbar-width: var(--scrollarea-scrollbar-size);
  }

  &[data-orientation='horizontal'] {
    --scrollbar-height: var(--scrollarea-scrollbar-size);
    --scrollbar-direction: column;
  }
}

.thumb {
  flex: 1;
  border-radius: var(--scrollarea-scrollbar-size);
  position: relative;
  transition: background-color 150ms ease;
  overflow: hidden;
  background-color: var(--thumb-bg);

  &::before {
    content: '""';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: rem(44px);
    min-height: rem(44px);
  }

  @mixin light {
    --thumb-bg: rgba(0, 0, 0, 0.4);
  }

  @mixin dark {
    --thumb-bg: rgba(255, 255, 255, 0.4);
  }
}

.corner {
  opacity: var(--corner-opacity);
  transition: opacity 150ms ease;
  background-color: var(--corner-bg);
  display: var(--corner-display);

  --corner-opacity: 0;
  --corner-display: block;

  @mixin light {
    --corner-bg: var(--mantine-color-gray-0);
  }

  @mixin dark {
    --corner-bg: var(--mantine-color-dark-8);
  }

  &[data-hovered] {
    --corner-opacity: 1;
  }

  &[data-hidden] {
    --corner-display: none;
  }
}
