.root {
  --pill-fz-xs: rem(10px);
  --pill-fz-sm: rem(12px);
  --pill-fz-md: rem(14px);
  --pill-fz-lg: rem(16px);
  --pill-fz-xl: rem(18px);

  font-size: var(--pill-fz);
  height: 2em;
  padding-left: 0.8em;
  padding-right: var(--_pill-padding-right, 0.8em);
  display: inline-flex;
  align-items: center;
  border-radius: var(--pill-radius);
  background-color: var(--_pill-bg);
  line-height: 1;
  white-space: nowrap;
  user-select: none;
  max-width: 100%;

  @mixin dark {
    --_pill-bg: var(--mantine-color-dark-7);
  }

  &[data-with-remove] {
    --_pill-padding-right: 0;
  }
}

.root--default {
  @mixin light {
    --_pill-bg: var(--mantine-color-gray-1);
  }
}

.root--contrast {
  @mixin light {
    --_pill-bg: var(--mantine-color-white);
  }
}

.label {
  cursor: default;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove {
  color: inherit;
  font-size: inherit;
  height: 100%;
  min-height: unset;
  min-width: 2em;
  width: unset;
  border-radius: 0;
  padding-left: 0.3em;
  padding-right: 0.3em;

  &:disabled {
    background-color: transparent;
    width: 0.8em;
    min-width: 0.8em;
    padding: 0;
    cursor: default;

    & > svg {
      display: none;
    }
  }
}
