.label {
  display: inline-block;
  font-weight: 500;
  word-break: break-word;
  cursor: default;
  -webkit-tap-highlight-color: transparent;

  font-size: var(--input-label-size);
}

.required {
  color: var(--input-asterisk-color);
}
