.swatch {
  height: 0;
  margin: rem(2px);
  cursor: pointer;
  width: calc(var(--swatch-size) - rem(4px));
  padding-bottom: calc(var(--swatch-size) - rem(4px));
  min-width: 0;
  min-height: 0;
}

.swatches {
  margin-left: rem(-2px);
  margin-right: rem(-2px);
  display: flex;
  flex-wrap: wrap;
}
