.swatch {
  width: calc(var(--swatch-size) - rem(4px));
  height: 0;
  padding-bottom: calc(var(--swatch-size) - rem(4px));
  margin: rem(2px);
  box-sizing: content-box;
  cursor: pointer;
}

.swatches {
  margin-left: rem(-2px);
  margin-right: rem(-2px);
  display: flex;
  flex-wrap: wrap;
}
