.trackContainer {
  display: flex;
  align-items: center;
  width: calc(100% + 1rem);
  height: 100%;
  cursor: var(--_track-cursor, pointer);

  &[data-disabled] {
    --_track-cursor: not-allowed;
  }
}

.track {
  position: relative;
  width: 100%;
  height: var(--slider-size);
  margin-right: var(--slider-size);
  margin-left: var(--slider-size);

  &[data-inverted]:not([data-disabled]) {
    --_track-bg: var(--slider-color);
  }

  &[data-inverted][data-disabled] {
    --_track-bg: var(--slider-track-disabled-bg);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: var(--slider-radius);
    right: calc(var(--slider-size) * -1);
    left: calc(var(--slider-size) * -1);
    background-color: var(--_track-bg, var(--slider-track-bg));
    z-index: 0;
  }
}

.bar {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  background-color: var(--_bar-bg, var(--slider-color));
  border-radius: var(--slider-radius);

  &[data-inverted] {
    --_bar-bg: var(--slider-track-bg);
  }

  &[data-disabled]:not([data-inverted]) {
    --_bar-bg: var(--_bar-disabled-bg);
  }

  @mixin light {
    --_bar-disabled-bg: var(--mantine-color-gray-4);
  }

  @mixin dark {
    --_bar-disabled-bg: var(--mantine-color-dark-3);
  }
}
