.scrollArea {
  margin-right: calc(var(--combobox-padding) * -1);

  @mixin rtl {
    margin-left: calc(var(--combobox-padding) * -1);
    margin-right: 0;
  }
}

.option {
  display: flex;
  align-items: center;
  flex-direction: var(--_flex-direction, row);
  gap: rem(8px);

  &[data-reverse] {
    /* --_flex-direction: row-reverse; */
    justify-content: space-between;
  }
}

.checkIcon {
  opacity: 0.4;
  width: 0.8em;
  height: 0.8em;

  [data-combobox-selected] & {
    opacity: 1;
  }
}
