.root {
  --pg-gap-xs: rem(6px);
  --pg-gap-sm: rem(8px);
  --pg-gap-md: rem(10px);
  --pg-gap-lg: rem(12px);
  --pg-gap-xl: rem(12px);

  display: flex;
  align-items: center;
  gap: var(--pg-gap);
  flex-wrap: wrap;
}
