/* top right bottom left */
/* top-left top-right bottom-right bottom-left */

.root {
  display: var(--tabs-display);
  flex-direction: var(--tabs-flex-direction);

  --tab-justify: flex-start;
  --list-direction: row;
  --panel-grow: unset;
  --tabs-display: block;
  --tabs-flex-direction: row;
  --list-border-width: rem(0);
  --list-border-size: 0 0 var(--list-border-width) 0;

  --list-line-bottom: 0;
  --list-line-top: unset;
  --list-line-left: 0;
  --list-line-right: 0;

  --tab-radius: var(--tabs-radius) var(--tabs-radius) 0 0;
  --tab-border-width: 0 0 var(--list-border-width) 0;

  &[data-inverted] {
    --list-line-bottom: unset;
    --list-line-top: 0;
    --tab-radius: 0 0 var(--tabs-radius) var(--tabs-radius);
    --tab-border-width: var(--list-border-width) 0 0 0;
  }

  &[data-orientation='vertical'] {
    --list-line-left: unset;
    --list-line-right: 0;
    --list-line-top: 0;
    --list-line-bottom: 0;
    --list-border-size: 0 var(--list-border-width) 0 0;
    --tab-border-width: 0 var(--list-border-width) 0 0;
    --tab-radius: var(--tabs-radius) 0 0 var(--tabs-radius);

    @mixin rtl {
      --list-line-left: 0;
      --list-line-right: unset;
      --list-border-size: 0 0 0 var(--list-border-width);
      --tab-border-width: 0 0 0 var(--list-border-width);
      --tab-radius: 0 var(--tabs-radius) var(--tabs-radius) 0;
    }

    &[data-placement='right'] {
      --list-line-left: 0;
      --list-line-right: unset;
      --list-border-size: 0 0 0 var(--list-border-width);
      --tab-border-width: 0 0 0 var(--list-border-width);
      --tab-radius: 0 var(--tabs-radius) var(--tabs-radius) 0;

      @mixin rtl {
        --list-line-left: unset;
        --list-line-right: 0;
        --list-border-size: 0 var(--list-border-width) 0 0;
        --tab-border-width: 0 var(--list-border-width) 0 0;
        --tab-radius: var(--tabs-radius) 0 0 var(--tabs-radius);
      }
    }
  }

  @mixin light {
    --tab-border-color: var(--mantine-color-gray-3);
  }

  @mixin dark {
    --tab-border-color: var(--mantine-color-dark-4);
  }

  &[data-orientation='horizontal'] {
    --tab-justify: center;
  }

  &[data-orientation='vertical'] {
    --list-direction: column;
    --panel-grow: 1;
    --tabs-display: flex;

    &[data-placement='right'] {
      --tabs-flex-direction: row-reverse;
    }
  }

  &[data-variant='default'] {
    --list-border-width: rem(2px);

    @mixin light {
      --tab-hover-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      --tab-hover-color: var(--mantine-color-dark-6);
    }
  }

  &[data-variant='outline'] {
    --list-border-width: rem(1px);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--tabs-justify, flex-start);
  flex-direction: var(--list-direction);

  --tab-grow: unset;

  &[data-grow] {
    --tab-grow: 1;
  }
}

.panel {
  flex-grow: var(--panel-grow);

  &[data-hidden] {
    display: none;
  }
}

.tab {
  position: relative;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  white-space: nowrap;
  z-index: 0;
  display: flex;
  align-items: center;
  line-height: 1;
  user-select: none;
  flex-grow: var(--tab-grow);
  justify-content: var(--tab-justify);

  &:disabled,
  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus {
    z-index: 1;
  }
}

.tabLeftSection,
.tabRightSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabLeftSection {
  margin-right: var(--tab-left-section-margin-right);
  margin-left: var(--tab-left-section-margin-left);

  --tab-left-section-margin-right: 0rem;
  --tab-left-section-margin-left: 0rem;

  &:not(:only-child) {
    --tab-left-section-margin-right: var(--mantine-spacing-xs);

    @mixin rtl {
      --tab-left-section-margin-right: 0rem;
      --tab-left-section-margin-left: var(--mantine-spacing-xs);
    }
  }
}

.tabRightSection {
  margin-left: var(--tab-right-section-margin-left);
  margin-right: var(--tab-right-section-margin-right);

  --tab-right-section-margin-left: 0rem;
  --tab-right-section-margin-right: 0rem;

  &:not(:only-child) {
    --tab-right-section-margin-left: var(--mantine-spacing-xs);

    @mixin rtl {
      --tab-right-section-margin-left: 0rem;
      --tab-right-section-margin-right: var(--mantine-spacing-xs);
    }
  }
}

/*************************************** default variant ***************************************/
.list--default {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    border-color: var(--tab-border-color);
    border-width: var(--list-border-size);
    border-style: solid;
    bottom: var(--list-line-bottom);
    left: var(--list-line-left);
    right: var(--list-line-right);
    top: var(--list-line-top);
  }
}

.tab--default {
  border-radius: var(--tab-radius);
  border-width: var(--tab-border-width);
  border-style: solid;
  border-color: var(--_tab-border-color);

  --_tab-border-color: transparent;

  &[data-active] {
    --_tab-border-color: var(--tabs-color);
  }

  @mixin hover {
    background-color: var(--tab-hover-color);

    &:not([data-active]) {
      --_tab-border-color: var(--tab-border-color);
    }
  }

  &:disabled,
  &[data-disabled] {
    @mixin hover {
      background-color: transparent;
    }
  }
}

/*************************************** outline variant ***************************************/
.list--outline {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    border-color: var(--tab-border-color);
  }

  &[data-orientation='horizontal'] {
    &::before {
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom-width: var(--list-border-width);
      border-bottom-style: solid;
    }

    &[data-inverted]::before {
      top: 0;
      bottom: unset;
      border-bottom-width: unset;
      border-bottom-style: unset;
      border-top-width: var(--list-border-width);
      border-top-style: solid;
    }
  }

  &[data-orientation='vertical'] {
    &[data-placement='left'] {
      &::before {
        bottom: 0;
        top: 0;
        right: 0;
        border-right-width: var(--list-border-width);
        border-right-style: solid;

        @mixin rtl {
          left: 0;
          right: unset;
        }
      }
    }

    &[data-placement='right'] {
      &::before {
        bottom: 0;
        top: 0;
        left: 0;
        border-left-width: var(--list-border-width);
        border-left-style: solid;

        @mixin rtl {
          right: 0;
          left: unset;
        }
      }
    }
  }
}

.tab--outline {
  border: rem(1px) solid transparent;

  &[data-active] {
    @mixin light {
      border-color: var(--mantine-color-gray-3);
      background-color: var(--mantine-color-white);
    }

    @mixin dark {
      border-color: var(--mantine-color-dark-4);
      background-color: var(--mantine-color-dark-7);
    }

    &[data-orientation='horizontal'] {
      border-top-right-radius: var(--tabs-radius);
      border-top-left-radius: var(--tabs-radius);

      &:not([data-inverted]) {
        border-bottom-color: transparent;
      }

      &[data-inverted] {
        border-top-color: transparent;
        border-top-right-radius: unset;
        border-top-left-radius: unset;
        border-bottom-right-radius: var(--tabs-radius);
        border-bottom-left-radius: var(--tabs-radius);
      }
    }

    &[data-orientation='vertical'] {
      &[data-placement='left'] {
        border-bottom-left-radius: var(--tabs-radius);
        border-top-left-radius: var(--tabs-radius);

        @mixin not-rtl {
          border-right-color: transparent;
        }

        @mixin rtl {
          border-left-color: transparent;
          border-bottom-left-radius: unset;
          border-top-left-radius: unset;
          border-bottom-right-radius: var(--tabs-radius);
          border-top-right-radius: var(--tabs-radius);
        }
      }

      &[data-placement='right'] {
        border-bottom-right-radius: var(--tabs-radius);
        border-top-right-radius: var(--tabs-radius);

        @mixin not-rtl {
          border-left-color: transparent;
        }

        @mixin rtl {
          border-right-color: transparent;
          border-bottom-right-radius: unset;
          border-top-right-radius: unset;
          border-bottom-left-radius: var(--tabs-radius);
          border-top-left-radius: var(--tabs-radius);
        }
      }
    }
  }
}

/*************************************** pills variant ***************************************/
.list--pills {
  gap: calc(var(--mantine-spacing-sm) / 2);
}

.tab--pills {
  border-radius: var(--tabs-radius);

  &:not([data-disabled]) {
    @mixin hover {
      @mixin light {
        background-color: var(--mantine-color-gray-0);
      }

      @mixin dark {
        background-color: var(--mantine-color-dark-6);
      }
    }
  }

  &[data-active][data-active] {
    background-color: var(--tabs-color);
    color: var(--mantine-color-white);

    @mixin hover {
      background-color: var(--tabs-color);
    }
  }
}
