.root {
  &[data-orientataion='vertical'] {
    display: flex;

    &[data-placement='right'] {
      flex-direction: row-reverse;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;

  &[data-orientation='vertial'] {
    flex-direction: column;
  }

  &[data-grow] [role='tab'] {
    flex-grow: 1;
  }
}

.panel {
  &[data-hidden] {
    display: none;
  }

  &[data-orientation='vertical'] {
    flex-grow: 1;
  }
}
