.root {
  &[data-orientataion='vertical'] {
    display: flex;

    &[data-placement='right'] {
      flex-direction: row-reverse;
    }
  }
}

.list {
  display: flex;
  flex-wrap: wrap;

  &[data-orientation='vertial'] {
    flex-direction: column;
  }

  &[data-grow] [role='tab'] {
    flex-grow: 1;
  }
}

.panel {
  &[data-hidden] {
    display: none;
  }

  &[data-orientation='vertical'] {
    flex-grow: 1;
  }
}

.tab {
  /* paddingLeft: params.withIcon ? theme.spacing.xs : undefined,
    paddingRight: params.withRightSection ? theme.spacing.xs : undefined, */
  /* justifyContent: params.orientation === 'horizontal' ? 'center' : undefined, */
  /* ...getVariantStyles(theme, params, variant), */

  position: relative;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  white-space: nowrap;
  z-index: 0;
  display: flex;
  align-items: center;
  line-height: 1;

  &:disabled,
  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus {
    z-index: 1;
  }

  &[data-variant='default'] {
    border-bottom: 2px solid transparent;
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);

    @mixin hover {
      @mixin light {
        background-color: var(--mantine-color-gray-0);
      }

      @mixin dark {
        background-color: var(--mantine-color-dark-6);
      }
    }

    &[data-active] {
      border-color: var(--color);
    }
  }
}

.tabLabel {
}

.tabLeftSection {
}

.tabRightSection {
}
