.header {
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid var(--docs-shell-border);
  height: var(--docs-header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.version {
  margin-top: rem(4px);
  margin-left: var(--mantine-spacing-md);

  @mixin rtl {
    margin-left: 0;
    margin-right: var(--mantine-spacing-md);
  }
}
