.root {
  background-color: transparent;
  appearance: none;
  min-width: rem(100px);
  flex: 1;
  border: 0;
  font-size: inherit;
  height: 1.6em;
  color: inherit;

  &::placeholder {
    color: var(--_input-placeholder-color);
    opacity: 1;
  }

  &[data-type='auto'] {
    height: rem(1px);
    position: absolute;
    opacity: 0;
  }

  &:focus {
    height: 1.6em;
    visibility: visible;
    outline: none;
    opacity: 1;
    position: static;
  }

  &[data-disabled],
  &:disabled {
    cursor: not-allowed;
  }
}
