.root {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  touch-action: manipulation;
  display: block;
  text-decoration: none;
  border-radius: var(--paper-radius);
  box-shadow: var(--paper-shadow);
  border: var(--_paper-border-width) solid var(--_paper-border-color);

  --_paper-border-width: 0;
  --_paper-border-color: transparent;

  &[data-with-border] {
    --_paper-border-width: 1px;

    @mixin light {
      --_paper-border-color: var(--mantine-color-gray-3);
    }

    @mixin dark {
      --_paper-border-color: var(--mantine-color-dark-4);
    }
  }
}
