.table {
  width: 100%;
  border-collapse: collapse;
  line-height: var(--mantine-line-height);
  font-size: var(--mantine-font-size-sm);
  table-layout: var(--mantine-table-layout, auto);

  @mixin light {
    --m__stipes-color: var(--table-striped-color, var(--mantine-color-gray-0));
    --m__border-color: var(--table-border-color, var(--mantine-color-gray-3));
  }

  @mixin dark {
    --m__stipes-color: var(--table-striped-color, var(--mantine-color-dark-6));
    --m__border-color: var(--table-border-color, var(--mantine-color-dark-4));
  }

  &[data-with-table-border] {
    border: rem(1px) solid var(--m__border-color);
  }
}

.th {
  text-align: left;
}

.tr {
  &[data-with-row-border] {
    border-bottom: rem(1px) solid var(--m__border-color);
  }
}

.td,
.th {
  padding: var(--table-vertical-spacing) var(--table-horizontal-spacing);

  &[data-with-column-border]:not(:last-of-type) {
    border-right: rem(1px) solid var(--m__border-color);
  }
}

.tbody {
  & > .tr {
    &:last-of-type {
      &[data-with-row-border] {
        border-bottom: 0;
      }
    }

    &[data-striped='odd']:nth-of-type(odd) {
      background-color: var(--m__stipes-color);
    }

    &[data-striped='even']:nth-of-type(even) {
      background-color: var(--m__stipes-color);
    }
  }
}
