.table {
  width: 100%;
  border-collapse: collapse;
  line-height: var(--mantine-line-height);
  font-size: var(--mantine-font-size-sm);
  table-layout: var(--table-layout, auto);
  caption-side: var(--table-caption-side);

  @mixin light {
    --m__hover-color: var(--table-highlight-on-hover-color, var(--mantine-color-gray-1));
    --m__stipes-color: var(--table-striped-color, var(--mantine-color-gray-0));
    --m__border-color: var(--table-border-color, var(--mantine-color-gray-3));
  }

  @mixin dark {
    --m__hover-color: var(--table-highlight-on-hover-color, var(--mantine-color-dark-5));
    --m__stipes-color: var(--table-striped-color, var(--mantine-color-dark-6));
    --m__border-color: var(--table-border-color, var(--mantine-color-dark-4));
  }

  &[data-with-table-border] {
    border: rem(1px) solid var(--m__border-color);
  }
}

.th {
  text-align: left;

  @mixin rtl {
    text-align: right;
  }
}

.tr {
  &[data-with-row-border] {
    border-bottom: rem(1px) solid var(--m__border-color);
  }
}

.td,
.th {
  padding: var(--table-vertical-spacing) var(--table-horizontal-spacing);

  &[data-with-column-border]:not(:last-of-type) {
    border-right: rem(1px) solid var(--m__border-color);

    @mixin rtl {
      border-left: rem(1px) solid var(--m__border-color);
      border-right: 0;
    }
  }
}

.tbody {
  & > .tr {
    &:last-of-type {
      &[data-with-row-border] {
        border-bottom: 0;
      }
    }

    &[data-striped='odd']:nth-of-type(odd) {
      background-color: var(--m__stipes-color);
    }

    &[data-striped='even']:nth-of-type(even) {
      background-color: var(--m__stipes-color);
    }

    &[data-hover] {
      @mixin hover {
        background-color: var(--m__hover-color);
      }
    }
  }
}

.caption {
  color: var(--mantine-color-dimmed);

  &[data-side='top'] {
    margin-bottom: var(--mantine-spacing-xs);
  }

  &[data-side='bottom'] {
    margin-top: var(--mantine-spacing-xs);
  }
}
